.relegationZone {
    width:33%;
    background-color: lightcoral;
  }
  
  .mufcPos {
    border: 2.5px solid red;
  }
  
  .champsLeague {
    width:33%;
    color: white;
    background-color: rgb(105, 44, 193);
  }

  .tableCrest {
    margin-left: 2px;
    height: 50px;
    width: 50px;
  }
  
  .customColumn {
    width: 33%;
  }
  
  .customColumnPos {
    width:10%;
  }

  .customColumnCrest {
    width:10%;
  }

  .customColumnGP {
      width: 10%;
  }

  .customColumnW {
    width: 10%;
}

.customColumnL {
    width: 10%;
}

.customColumnD {
    width: 10%;
}

.customColumnWPts {
    width: 10%;
}
  
  .leagueTable {
    border: solid 1px
  }

  .customRowD {
    border-style: solid 1px;
    border-color: black;
  }

  .customRowL {
    border-style: solid 1px;
    border-color: black;
  }

  .customRowW {
    border-style: solid 1px;
    border-color: black;
  }

  .customRowPts {
    border-style: solid 1px;
    border-color: black;
  }

  .customRowLogo {
    border-style: solid 1px;
    border-color: black;
  }

  .customRow {
    border-style: solid 1px;
    border-color: black;
  }
  
  .customColumnpos {
    width:20%;
  }
  
  .customColumnTeam {
    width: auto;
    text-align: center;
    border: solid 1px black
  }

  @media only screen and (max-width: 600px) {
    .customColumnCrest {
        display: none;
      }
    
      .customColumnW {
        display: none;
    }
    
    .customColumnL {
        display: none;
    }
    
    .customColumnD {
        display: none;
    }

    .customRowLogo {
        display: none;
    }

    .customRowW {
        display: none;
    }

    .customRowD {
        display: none;
    }

    .customRowL {
        display: none;
    }

    
}